.page {
  display: grid;
  min-block-size: 100%;

  scroll-behavior: smooth;
}

.page__body {
  display: grid;
  min-block-size: 100%;
  grid-template-rows: 1fr auto;

  // font-family: $font-family;
  // font-weight: 400;
  // font-size: 14px;
  // line-height: 143%;
  // background-color: $bg-page;
  // color: $text;

  // @include media-tablet {
  //   font-size: 16px;
  //   line-height: 125%;
  // }

  // @include media-desktop {
  //   font-size: 16px;
  //   line-height: 162%;
  // }
}
