/* Font familie */
$font-family-manrope: "Manrope", "Arial", sans-serif;

/* Font weight */
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;

/* Width */
$width-phone: 320px;
$width-tablet: 768px;
$width-desktop: 1440px;

/* Margins */
$Margins-phone: 15px;
$Margins-tablet: 45px;
$Margins-desktop: 100px;

/* Color space */
// $bg-page: #ffffff;
// $text: #000000;
// $text-30: rgba(0, 0, 0, 0.3);
// $text-accent: #7b77f0;
// $title: #000000;
// $bg-form: #e8e8e8;
// $input-border: #b5b0b0;

// Color button
// $bg-button: #645fe8;
// $text-button: #ffffff;
